[DEFAULT]
# IP of the OpenEPaperLink access point
ACCESSPOINTIP = 

# URL and Token for the InvenTree instance
INVENTREEURL = 
INVENTREETOKEN = 

# Style
TITLEFONT = fonts/Roboto-SemiBold.ttf
TITLEFONTSIZE = 25
TITLEPOSITION = 0
INVENTORYFONT = fonts/Roboto-SemiBold.ttf
INVENTORYFONTSIZE = 15
LOCATIONFONT = fonts/Roboto-SemiBold.ttf
LOCATIONFONTSIZE = 14
LOCATIONPOSITION = 1

# Debug
SKIPUPLOAD = False